<form ng-submit='ctrl.processForm()'>
  <input type="text" ng-model='ctrl.formData.city' placeholder="City" required/>
  <input type="text" ng-model='ctrl.formData.state' placeholder="State"/>
  <input type="text" ng-model='ctrl.formData.country' placeholder="Country" required/>
  <input type="text" ng-model='ctrl.formData.dates' placeholder="Dates Visited"/>
  <textarea type-"text" ng-model='ctrl.formData.description' placeholder="Description of your trip" required></textarea>
  <input type="text" ng-model='ctrl.formData.img[0]' placeholder="Image URL"/>
  <input type="text" ng-model='ctrl.formData.img[1]' placeholder="Image URL"/>
  <input type="text" ng-model='ctrl.formData.img[2]' placeholder="Image URL"/>
  <input type="text" ng-model='ctrl.formData.landmarks' placeholder="Landmarks"/>
  <input type="hidden" ng-model='ctrl.formData._id'/>
  <button type="submit">Submit</button>
</form>
